<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="/pictures/map.ico">
		<link href="/stylesheets/style.css" rel="stylesheet">
		<title>Trip~Planner</title>
	</head>

	<body>
		<nav class="navbar navbar-inverse" role="navigation">
	        <div class="container">
	            <div class="navbar-header">
	               <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-plane"></span>Trip~Planners Inc.</a>
	            </div>
	            <div>
	                <ul class="nav navbar-nav navbar-right">
	                	<li><a href="/contact">Log In</a></li>
	                	<li><a href="/contact">Sign Up</a></li>
	                	<li><a href="/contact">About</a></li>
	                	<li><a href="/contact">Contact</a></li>
	                </ul>
	            </div>
	        </div>
   		</nav>

		
		<div id="map-canvas">

		</div>
		<div class='panel'>
			{% block content %}{% endblock %}
		</div>

	</body>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrqJevmv0jUh8TQWQukHw5LzvNVYCqJAU&sensor=true"></script>
	<script src='/jquery/jquery.min.js'></script>
	<script src="/script.js"></script>
</html>